<app-loader class="loader1" *ngIf="showLoader"></app-loader>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Car Brand</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">List of all Brands</h4>
                                <button class="btn btn-primary btn-round ml-auto" (click)="openCategoryForm()">
                                    <i class="fa fa-plus"></i>
                                    Add Brand
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Brand Icon</th>
                                            <th>Brand Name</th>
                                            <!-- <th>No. of Models</th> -->
                                            <!-- <th>No. of Services</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let category of categoryList">
                                            <th>
                                                <img [src]="baseImageUrl+category.logo" class="item-icon">
                                            </th>
                                            <!-- <th><img src="http://localhost:3000/images/electrician.svg" class="item-icon"></th> -->
                                            <td>{{category?.name | titlecase}}</td>
                                            <!-- <td>{{category.counts.no_of_sub_categorys}}</td> -->
                                            <!-- <td>{{category.counts.no_of_services}}</td> -->
                                            <td>
                                                <div class="form-button-action">
                                                    <button type="button" class="btn btn-link btn-primary btn-lg" (click)="onClickEditCategory(category)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-link btn-danger" (click)="openAlert(category.id)">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <ul class="pagination custcss">
                                <li *ngIf="current_index != 1" class="page-item"><a class="page-link" href="JavaScript:void(0);" (click)="previous_pagination()">Previous</a></li>
                                <li *ngIf="current_index == 1" class="page-item disable"><a class="page-link" href="JavaScript:void(0);">Previous</a></li>

                                <li *ngFor="let page of pagination" class="page-item" [ngClass]="page.active ?  'active' : ''">
                                    <a *ngIf="page.value < 11" class="page-link" href="JavaScript:void(0);" (click)="current_pagination(page?.value)">{{page?.value}}</a>
                                    <a *ngIf="page.value == 11" class="page-link" href="JavaScript:void(0);" (click)="current_pagination(page?.value)">....</a>
                                </li>

                                <li *ngIf="current_index != pagination.length" class="page-item"><a class="page-link" href="JavaScript:void(0);" (click)="next_pagination()">Next</a></li>
                                <li *ngIf="current_index == pagination.length" class="page-item disable"><a class="page-link" href="JavaScript:void(0);">Next</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="overlay" *ngIf="showCategoryForm">
    <div class="" style="margin-top: 7%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-bd">
                    <h2 class="modal-title">
                        Add Brand
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCategoryForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="small">Fill up details to add a new brand to the system</p>
                    <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmitCreateCategoryForm()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="createCategoryForm.controls?.name?.invalid && createCategoryForm.controls?.name?.touched">
                                    <span class="hass-error-message" *ngIf="getCategoryFormErrors().name.errors.required">
                                                *This field is required.
                                            </span>
                                    <span class="hass-error-message" *ngIf="getCategoryFormErrors().name.errors.minlength">
                                                *Minimum 4 character.
                                            </span>
                                    <span class="hass-error-message" *ngIf="getCategoryFormErrors().name.errors.maxlength">
                                                *Maximum 40 character.
                                            </span>
                                </div>
                                <div class="form-group form-group-default">
                                    <label>Name of the brand</label>
                                    <input id="addName" type="text" class="form-control" placeholder="fill name" formControlName='name' name="name">
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Upload brand Icon</label>
                                    <input id="addemail" type="file" class="form-control" placeholder="upload an icon" name="category_icon" (change)="fileProgress($event)" />
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer no-bd">
                            <button *ngIf="showAddBtn" type="submit" class="btn btn-primary" [disabled]="disableSubmitBtn()">Add</button>
                            <button *ngIf="!showAddBtn" type="button" class="btn btn-primary" [disabled]="disableSubmitBtn()" (click)="onSubmitupdateCategoryForm()">Update</button>
                            <button type="button" class="btn btn-danger" (click)="closeCategoryForm()">Close</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>