<app-loader class="loader1" *ngIf="showLoader">
</app-loader>

<div class="limiter">
    <div class="container-login100" style="background-image: url('https://res.cloudinary.com/tapsy/image/upload/v1572627350/img-01_itdsro.jpg');">
        <div class="wrap-login100 p-t-50 p-b-30">
            <form class="login100-form validate-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitChangePasswordForm()">
                <div class="login100-form-avatar">
                    <img src="https://res.cloudinary.com/tapsy/image/upload/v1572626759/logo_n3mora.png" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45">
                    Forgot Password
                </span>

                <div class="wrap-input100 validate-input m-b-10">
                    <input class="input100" type="text" name="email" formControlName='email' placeholder="Email" autocomplete="off">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>

                    <div *ngIf="forgotPasswordForm.controls?.email?.invalid && forgotPasswordForm.controls?.email?.touched">
                        <span class="hass-error-message" *ngIf="emailErrors().required">
                            *This field is required.
                        </span>
                        <span class="hass-error-message" *ngIf="emailErrors().minlength">
                            *Minimum 4 character.
                        </span>
                        <span class="hass-error-message" *ngIf="emailErrors().maxlength">
                            *Maximum 60 character.
                        </span>
                        <span class="hass-error-message" *ngIf="emailErrors().pattern">
                            *Invalid email.
                        </span>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                    <input class="input100" type="password" name="new_password" formControlName='new_password' placeholder="New Password" autocomplete="off">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>

                    <div *ngIf="forgotPasswordForm.controls?.new_password?.invalid && forgotPasswordForm.controls?.new_password?.touched">
                        <!-- <p *ngIf="userLoginForm.controls?.name?.errors.required" class="errorMsg">
              *This field is required.</p> -->
                        <span class="hass-error-message" *ngIf="newPasswordErrors().required">
                            *This field is required.
                        </span>
                        <span class="hass-error-message" *ngIf="newPasswordErrors().minlength">
                            *Minimum 4 character.
                        </span>
                        <span class="hass-error-message" *ngIf="newPasswordErrors().maxlength">
                            *Maximum 15 character.
                        </span>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                    <input class="input100" type="password" name="confirm_password" formControlName='confirm_password' placeholder="Confirm Password" autocomplete="off">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>

                    <div *ngIf="forgotPasswordForm.controls?.confirm_password?.invalid && forgotPasswordForm.controls?.confirm_password?.touched">
                        <!-- <p *ngIf="userLoginForm.controls?.name?.errors.required" class="errorMsg">
              *This field is required.</p> -->
                        <span class="hass-error-message" *ngIf="confirmPasswordErrors().required">
                            *This field is required.
                        </span>
                        <span class="hass-error-message" *ngIf="confirmPasswordErrors().minlength">
                            *Minimum 4 character.
                        </span>
                        <span class="hass-error-message" *ngIf="confirmPasswordErrors().maxlength">
                            *Maximum 15 character.
                        </span>
                        <span class="hass-error-message" *ngIf="forgotPasswordForm.hasError('notSame')">
                            *Passwords do not match.
                        </span>
                    </div>
                    <div *ngIf="!forgotPasswordForm.controls?.confirm_password?.invalid && forgotPasswordForm.controls?.confirm_password?.touched">
                        <span class="hass-error-message" *ngIf="forgotPasswordForm.hasError('notSame')">
                            *Passwords do not match.
                        </span>
                    </div>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn" type="submit" [disabled]="disableLoginSubmitBtn()">
                        Change Password
                    </button>

                    <label for="" routerLink="/login" class="home-link pointer">GoTo Login</label>
                </div>

                <!-- <div class="text-center w-full p-t-25 p-b-230">
                    <a href="#" class="txt1">
                        Forgot Username / Password?
                    </a>
                </div> -->
            </form>
        </div>
    </div>
</div>